* {
    box-sizing: border-box;
}

body {
    margin: 10px 50px;
}

.object-image {
    width: 300px;
    height: auto;
    max-height: 500px;
}

.item {
    margin-bottom: 100px;
}

.left-float {
    display: block;
}

.right-float {
    display: block;
}

label, input {
    margin-bottom: 10px;
}